In [2]:
import regex as re
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [69]:
urls = [
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNERUxAAUgBcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNCTFJAAUgBcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhopEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDQgDEgkvbS8wMWMxbm1AAUgBcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNCT01AAUgBcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhoqEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDggDEgovbS8wMzBxYjN0QAFIAXABggELCP___________wGYAQI&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNTWURAAUgBcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhooEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDAgDEggvbS8wM2hyekABSAFwAYIBCwj___________8BmAEC&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights?tfs=CBsQAhooEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDAgCEggvbS8wN3lwdEABSAFSA0lOUnABeoABQ2pSSVZGSXpXa2xYU0MxdmFWVkJRVnBxZDBGQ1J5MHRMUzB0TFMwdGRHZGlaR3d4TlVGQlFVRkJSMWhNU0ROSlEzbGZjMFZCRWhSRlN6VXlOWHhGU3pJeU9YeEJVek16T1RNak1Sb0xDSUwvQmhBQUdnTkpUbEk0SEhDWXRnZz2YAQKyARIYASABKgwIAhIIL20vMDd5cHQ&hl=en-GB&curr=INR&sa=X&ved=0CAoQtY0DahgKEwiA9PLN56eEAxUAAAAAHQAAAAAQnAI"
]

In [74]:
prices=[]
N=[]
classes = []
depart=[]
arraival=[]
Depature_Place = []
Arraival_Place = []
time =[]
stop = []
lag = []

for url in urls: 
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    container = soup.find_all("div", class_="yR1fYc")
    
    for i in container:
        Price = i.find("div", class_="U3gSDe ETvUZc")
        if Price:
            prices.append(Price.text)
        else:
            prices.append('price unavailable')
        
        name = i.find("div",class_="sSHqwe tPgKwe ogfYpf")
        if name:
            N.append(name.text)
        
        departures = i.find("div", class_="wtdjmc YMlIz ogfYpf tPgKwe")
        if departures:
            depart.append(departures.text)
        
        arrivals = i.find("div", class_="XWcVob YMlIz ogfYpf tPgKwe")
        if arrivals:
            arraival.append(arrivals.text.split("(")[0])
            
        D_P = i.find("div", class_="G2WY5c sSHqwe ogfYpf tPgKwe")
        if D_P:
            Depature_Place.append(D_P.text)
        
        A_P = i.find("div",class_="c8rWCd sSHqwe ogfYpf tPgKwe")
        if A_P:
            Arraival_Place.append(A_P.text)
        
        stops = i.find_all("span", class_="VG3hNb")
        if stops:
            stop.append([s.text for s in stops])
        
        times = i.find("div",class_="gvkrdb AdWm1c tPgKwe ogfYpf")
        if times:
            time.append(times.text)
        
        weights = i.find("div", class_="O7CXue")
        if weights:
            lag.append(weights.text)
        
        cls = i.find("div", class_="cQnuXe k0gFV")
        if cls:
            classes.append(cls.text)

In [ ]:
df1 = pd.DataFrame({"Name":N,
                    "Cabin":["Economy"]*len(N),
                    "Departure Time":depart, 
                    "Arrival Time":arraival, 
                    "Departure Place":Depature_Place,
                   "Arraival Place":Arraival_Place,
                   "Total Travel Time":time,
                   "Stops":stop,
                    "Laguage Weight":lag,
                  "Prices":prices
                   })

In [ ]:
df1

In [79]:
df1.to_csv("economy.csv")

In [9]:
url1 = [
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNCTFJAAUgCcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNERUxAAUgCcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhopEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDQgDEgkvbS8wMWMxbm1AAUgCcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNCT01AAUgCcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhoqEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDggDEgovbS8wMzBxYjN0QAFIAnABggELCP___________wGYAQI&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNTWURAAUgCcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNIQU1AAUgCcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhooEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDAgDEggvbS8wN3lwdEABSAJwAYIBCwj___________8BmAEC&tfu=EgYIARABGAA"
    ]

In [10]:
prices=[]
N=[]
classes = []
depart=[]
arraival=[]
Depature_Place = []
Arraival_Place = []
time =[]
stop = []
lag = []

for url in url1: 
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    container = soup.find_all("div", class_="yR1fYc")
    
    for i in container:
        Price = i.find("div", class_="U3gSDe ETvUZc")
        if Price:
            prices.append(Price.text)
        else:
            prices.append('price unavailable')
        
        name = i.find("div",class_="sSHqwe tPgKwe ogfYpf")
        if name:
            N.append(name.text)
        
        departures = i.find("div", class_="wtdjmc YMlIz ogfYpf tPgKwe")
        if departures:
            depart.append(departures.text)
        
        arrivals = i.find("div", class_="XWcVob YMlIz ogfYpf tPgKwe")
        if arrivals:
            arraival.append(arrivals.text.split("(")[0])
            
        D_P = i.find("div", class_="G2WY5c sSHqwe ogfYpf tPgKwe")
        if D_P:
            Depature_Place.append(D_P.text)
        
        A_P = i.find("div",class_="c8rWCd sSHqwe ogfYpf tPgKwe")
        if A_P:
            Arraival_Place.append(A_P.text)
        
        stops = i.find_all("span", class_="VG3hNb")
        if stops:
            stop.append([s.text for s in stops])
        
        times = i.find("div",class_="gvkrdb AdWm1c tPgKwe ogfYpf")
        if times:
            time.append(times.text)
        
        weights = i.find("div", class_="O7CXue")
        if weights:
            lag.append(weights.text)
        
        cls = i.find("div", class_="cQnuXe k0gFV")
        if cls:
            classes.append(cls.text)

In [11]:
df2 = pd.DataFrame({"Name":N,
                    "Cabin":["Premium Economy"]*len(N),
                    "Departure Time":depart, 
                    "Arraival Time":arraival, 
                    "Departure Place":Depature_Place,
                   "Arraival Place":Arraival_Place,
                   "Total Travel Time":time,
                   "Stops":stop,
                    "Laguage Weight":lag,
                  "Prices":prices
                   })

In [12]:
df2

,Name,Cabin,Departure Time,Arraival Time,Departure Place,Arraival Place,Total Travel Time,Stops,Laguage Weight,Prices
0,Air India,Premium Economy,9:10 PM,10:20 PM,HYD,BLR,1 hr 10 min,[Nonstop],96 kg CO2e,"₹10,773"
1,Air India,Premium Economy,5:05 PM,2:30 PM+1,HYD,BLR,21 hr 25 min,[2 stops],286 kg CO2e,"₹27,176"
2,"Air India Express, Air India",Premium Economy,7:25 PM,2:30 PM+1,HYD,BLR,19 hr 5 min,[3 stops],341 kg CO2e,"₹33,156"
3,Air India,Premium Economy,8:20 AM,2:30 PM+1,HYD,BLR,30 hr 10 min,[2 stops],358 kg CO2e,"₹42,827"
4,Air India,Premium Economy,1:20 PM,2:30 PM+1,HYD,BLR,25 hr 10 min,[2 stops],315 kg CO2e,"₹42,827"
...,...,...,...,...,...,...,...,...,...,...
845,"Etihad, British Airways",Premium Economy,8:25 PM,7:25 PM+1,HYD,YVR,36 hr 30 min,[2 stops],"1,293 kg CO2e","₹545,429"
846,"Emirates, Air Canada",Premium Economy,9:20 PM,12:19 PM+1,HYD,YVR,28 hr 29 min,[2 stops],"2,717 kg CO2e","₹563,017"
847,"Emirates, Air Canada",Premium Economy,9:20 PM,3:19 PM+1,HYD,YVR,31 hr 29 min,[2 stops],"2,717 kg CO2e","₹563,017"
848,"THAI, Air Canada",Premium Economy,1:30 AM,9:50 AM,HYD,YVR,21 hr 50 min,[2 stops],"3,502 kg CO2e","₹565,772"
849,"Malaysia Airlines, Air Canada",Premium Economy,12:30 AM,12:40 PM,HYD,YVR,25 hr 40 min,[2 stops],"2,713 kg CO2e","₹765,682"

In [13]:
df2.to_csv("Premiumeconomy.csv")

In [14]:
url2 = [
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNCTFJAAUgDcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNERUxAAUgDcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhopEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDQgDEgkvbS8wMWMxbm1AAUgDcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNCT01AAUgDcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNMQVhAAUgDcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNTWURAAUgDcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyBwgBEgNIQU1AAUgDcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhooEgoyMDI0LTAyLTE2agwIAhIIL20vMDljNndyDAgDEggvbS8wN3lwdEABSANwAYIBCwj___________8BmAEC&tfu=EgYIARABGAA"
]

In [15]:
prices=[]
N=[]
classes = []
depart=[]
arraival=[]
Depature_Place = []
Arraival_Place = []
time =[]
stop = []
lag = []

for url in url2: 
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    container = soup.find_all("div", class_="yR1fYc")
    
    for i in container:
        Price = i.find("div", class_="U3gSDe ETvUZc")
        if Price:
            prices.append(Price.text)
        else:
            prices.append('price unavailable')
        
        name = i.find("div",class_="sSHqwe tPgKwe ogfYpf")
        if name:
            N.append(name.text)
        
        departures = i.find("div", class_="wtdjmc YMlIz ogfYpf tPgKwe")
        if departures:
            depart.append(departures.text)
        
        arrivals = i.find("div", class_="XWcVob YMlIz ogfYpf tPgKwe")
        if arrivals:
            arraival.append(arrivals.text.split("(")[0])
            
        D_P = i.find("div", class_="G2WY5c sSHqwe ogfYpf tPgKwe")
        if D_P:
            Depature_Place.append(D_P.text)
        
        A_P = i.find("div",class_="c8rWCd sSHqwe ogfYpf tPgKwe")
        if A_P:
            Arraival_Place.append(A_P.text)
        
        stops = i.find_all("span", class_="VG3hNb")
        if stops:
            stop.append([s.text for s in stops])
        
        times = i.find("div",class_="gvkrdb AdWm1c tPgKwe ogfYpf")
        if times:
            time.append(times.text)
        
        weights = i.find("div", class_="O7CXue")
        if weights:
            lag.append(weights.text)
        
        cls = i.find("div", class_="cQnuXe k0gFV")
        if cls:
            classes.append(cls.text)

In [16]:
df3 = pd.DataFrame({"Name":N,
                    "Cabin":["Business"]*len(N),
                    "Departure Time":depart, 
                    "Arraival Time":arraival, 
                    "Departure Place":Depature_Place,
                   "Arraival Place":Arraival_Place,
                   "Total Travel Time":time,
                   "Stops":stop,
                    "Laguage Weight":lag,
                  "Prices":prices
                   })

In [17]:
df3

,Name,Cabin,Departure Time,Arraival Time,Departure Place,Arraival Place,Total Travel Time,Stops,Laguage Weight,Prices
0,Air India,Business,9:10 PM,10:20 PM,HYD,BLR,1 hr 10 min,[Nonstop],256 kg CO2e,"₹16,407"
1,SriLankan,Business,10:15 AM,8:20 PM,HYD,BLR,10 hr 5 min,[1 stop],322 kg CO2e,"₹47,606"
2,Air India,Business,1:20 PM,5:50 PM,HYD,BLR,4 hr 30 min,[1 stop],266 kg CO2e,"₹50,639"
3,Air India,Business,8:20 AM,8:30 PM,HYD,BLR,12 hr 10 min,[1 stop],308 kg CO2e,"₹38,863"
4,Air India,Business,8:20 AM,5:45 AM+1,HYD,BLR,21 hr 25 min,[1 stop],308 kg CO2e,"₹38,863"
...,...,...,...,...,...,...,...,...,...,...
1059,"Singapore Airlines, UnitedAir Canada",Business,11:10 PM,9:18 PM+1,HYD,YVR,35 hr 38 min,[2 stops],"5,062 kg CO2e","₹1,566,835"
1060,"Etihad, British Airways",Business,4:15 AM,7:25 PM,HYD,YVR,28 hr 40 min,[2 stops],"4,073 kg CO2e","₹1,847,785"
1061,"Etihad, British Airways",Business,4:15 AM,7:25 PM,HYD,YVR,28 hr 40 min,[2 stops],"3,775 kg CO2e","₹1,847,785"
1062,"Etihad, British Airways",Business,8:25 PM,7:25 PM+1,HYD,YVR,36 hr 30 min,[2 stops],"4,621 kg CO2e","₹1,847,785"
1063,"Etihad, British Airways",Business,8:25 PM,7:25 PM+1,HYD,YVR,36 hr 30 min,[2 stops],"4,324 kg CO2e","₹1,847,785"

In [18]:
df3.to_csv("business.csv")

In [19]:
url3 = [
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE0agwIAhIIL20vMDljNndyBwgBEgNCTFJAAUgEcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhopEgoyMDI0LTAyLTE0agwIAhIIL20vMDljNndyDQgDEgkvbS8wMWMxbm1AAUgEcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE0agwIAhIIL20vMDljNndyBwgBEgNERUxAAUgEcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE0agwIAhIIL20vMDljNndyBwgBEgNMQVhAAUgEcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhooEgoyMDI0LTAyLTE0agwIAhIIL20vMDljNndyDAgDEggvbS8wODBoMkABSARwAYIBCwj___________8BmAEC&tfu=EgYIARABGAA",
    "https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTAyLTE0agwIAhIIL20vMDljNndyBwgBEgNTWURAAUgEcAGCAQsI____________AZgBAg&tfu=EgYIARABGAA"
]

In [20]:
prices=[]
N=[]
classes = []
depart=[]
arraival=[]
Depature_Place = []
Arraival_Place = []
time =[]
stop = []
lag = []

for url in url3: 
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    container = soup.find_all("div", class_="yR1fYc")
    
    for i in container:
        Price = i.find("div", class_="U3gSDe ETvUZc")
        if Price:
            prices.append(Price.text)
        else:
            prices.append('price unavailable')
        
        name = i.find("div",class_="sSHqwe tPgKwe ogfYpf")
        if name:
            N.append(name.text)
        
        departures = i.find("div", class_="wtdjmc YMlIz ogfYpf tPgKwe")
        if departures:
            depart.append(departures.text)
        
        arrivals = i.find("div", class_="XWcVob YMlIz ogfYpf tPgKwe")
        if arrivals:
            arraival.append(arrivals.text.split("(")[0])
            
        D_P = i.find("div", class_="G2WY5c sSHqwe ogfYpf tPgKwe")
        if D_P:
            Depature_Place.append(D_P.text)
        
        A_P = i.find("div",class_="c8rWCd sSHqwe ogfYpf tPgKwe")
        if A_P:
            Arraival_Place.append(A_P.text)
        
        stops = i.find_all("span", class_="VG3hNb")
        if stops:
            stop.append([s.text for s in stops])
        
        times = i.find("div",class_="gvkrdb AdWm1c tPgKwe ogfYpf")
        if times:
            time.append(times.text)
        
        weights = i.find("div", class_="O7CXue")
        if weights:
            lag.append(weights.text)
        
        cls = i.find("div", class_="cQnuXe k0gFV")
        if cls:
            classes.append(cls.text)

In [21]:
df4 = pd.DataFrame({"Name":N,
                    "Cabin":["First"]*len(N),
                    "Departure Time":depart, 
                    "Arraival Time":arraival, 
                    "Departure Place":Depature_Place,
                   "Arraival Place":Arraival_Place,
                   "Total Travel Time":time,
                   "Stops":stop,
                    "Laguage Weight":lag,
                  "Prices":prices
                   })

In [22]:
df4

,Name,Cabin,Departure Time,Arraival Time,Departure Place,Arraival Place,Total Travel Time,Stops,Laguage Weight,Prices
0,Air India,First,8:40 PM,8:30 AM+1,HYD,BLR,11 hr 50 min,[2 stops],798 kg CO2e,"₹88,658"
1,Emirates,First,10:00 AM,6:35 PM,HYD,BLR,8 hr 35 min,[1 stop],"1,974 kg CO2e","₹296,754"
2,Air India,First,8:40 PM,2:30 PM+1,HYD,BLR,17 hr 50 min,[3 stops],"1,204 kg CO2e","₹92,242"
3,Air India,First,8:40 PM,5:50 PM+1,HYD,BLR,21 hr 10 min,[2 stops],848 kg CO2e,"₹96,694"
4,Air India,First,8:40 PM,5:50 PM+1,HYD,BLR,21 hr 10 min,[2 stops],840 kg CO2e,"₹107,984"
...,...,...,...,...,...,...,...,...,...,...
197,"Air India, Singapore Airlines",First,10:30 PM,7:40 AM+2,HYD,SYD,27 hr 40 min,[2 stops],"4,074 kg CO2e","₹814,585"
198,"Air India, Singapore Airlines",First,5:05 PM,9:40 PM+1,HYD,SYD,23 hr 5 min,[2 stops],"5,132 kg CO2e","₹958,892"
199,"Air India, Singapore Airlines",First,1:20 PM,9:40 PM+1,HYD,SYD,26 hr 50 min,[2 stops],"5,162 kg CO2e","₹978,548"
200,"Air India, Singapore Airlines",First,2:10 PM,9:40 PM+1,HYD,SYD,26 hr,[2 stops],"5,408 kg CO2e","₹1,010,720"
201,"Air India, Singapore Airlines",First,4:25 PM,9:40 PM+1,HYD,SYD,23 hr 45 min,[2 stops],"5,332 kg CO2e","₹1,010,720"

In [23]:
b=df4[df4['Prices'] == 'price unavailable']

In [24]:
b

Empty DataFrame
Columns: [Name, Cabin, Departure Time, Arraival Time, Departure Place, Arraival Place, Total Travel Time, Stops, Laguage Weight, Prices]
Index: []

In [26]:
df4.to_csv("first.csv")

In [28]:
pd.read_csv(r"C:\Users\master\Batch-261\Pandas\economy.csv")

,Unnamed: 0,Name,Cabin,Departure Time,Arraival Time,Departure Place,Arraival Place,Total Travel Time,Stops,Laguage Weight,Prices
0,0,IndiGo,Economy,4:35 AM,9:45 AM,HYD,DEL,5 hr 10 min,['1 stop'],140 kg CO2e,"₹7,690"
1,1,SpiceJet,Economy,6:05 AM,8:15 AM,HYD,DEL,2 hr 10 min,['Nonstop'],155 kg CO2e,"₹9,538"
2,2,Akasa Air,Economy,8:10 AM,10:40 AM,HYD,DEL,2 hr 30 min,['Nonstop'],105 kg CO2e,"₹9,745"
3,3,Air India,Economy,6:15 AM,8:35 AM,HYD,DEL,2 hr 20 min,['Nonstop'],104 kg CO2e,"₹9,830"
4,4,Vistara,Economy,1:15 PM,3:40 PM,HYD,DEL,2 hr 25 min,['Nonstop'],125 kg CO2e,price unavailable
...,...,...,...,...,...,...,...,...,...,...,...
1581,1581,"Vistara, Lufthansa",Economy,5:55 PM,8:05 PM+1,HYD,HAM,30 hr 40 min,['2 stops'],585 kg CO2e,price unavailable
1582,1582,"Vistara, Lufthansa",Economy,5:55 PM,10:20 PM+1,HYD,HAM,32 hr 55 min,['2 stops'],585 kg CO2e,price unavailable
1583,1583,"Vistara, Lufthansa",Economy,8:35 PM,10:20 PM+1,HYD,HAM,30 hr 15 min,['2 stops'],610 kg CO2e,price unavailable
1584,1584,"Vistara, Lufthansa",Economy,10:00 PM,8:05 PM+1,HYD,HAM,26 hr 35 min,['2 stops'],585 kg CO2e,price unavailable
1585,1585,"Vistara, Lufthansa",Economy,10:00 PM,10:20 PM+1,HYD,HAM,28 hr 50 min,['2 stops'],585 kg CO2e,price unavailable

In [27]:
pd.read_csv(r"C:\Users\master\Batch-261\Pandas\premiumeconomy.csv")

,Unnamed: 0,Name,Cabin,Departure Time,Arraival Time,Departure Place,Arraival Place,Total Travel Time,Stops,Laguage Weight,Prices
0,0,Air India,Premium Economy,9:10 PM,10:20 PM,HYD,BLR,1 hr 10 min,['Nonstop'],96 kg CO2e,"₹10,773"
1,1,Air India,Premium Economy,5:05 PM,2:30 PM+1,HYD,BLR,21 hr 25 min,['2 stops'],286 kg CO2e,"₹27,176"
2,2,"Air India Express, Air India",Premium Economy,7:25 PM,2:30 PM+1,HYD,BLR,19 hr 5 min,['3 stops'],341 kg CO2e,"₹33,156"
3,3,Air India,Premium Economy,8:20 AM,2:30 PM+1,HYD,BLR,30 hr 10 min,['2 stops'],358 kg CO2e,"₹42,827"
4,4,Air India,Premium Economy,1:20 PM,2:30 PM+1,HYD,BLR,25 hr 10 min,['2 stops'],315 kg CO2e,"₹42,827"
...,...,...,...,...,...,...,...,...,...,...,...
845,845,"Etihad, British Airways",Premium Economy,8:25 PM,7:25 PM+1,HYD,YVR,36 hr 30 min,['2 stops'],"1,293 kg CO2e","₹545,429"
846,846,"Emirates, Air Canada",Premium Economy,9:20 PM,12:19 PM+1,HYD,YVR,28 hr 29 min,['2 stops'],"2,717 kg CO2e","₹563,017"
847,847,"Emirates, Air Canada",Premium Economy,9:20 PM,3:19 PM+1,HYD,YVR,31 hr 29 min,['2 stops'],"2,717 kg CO2e","₹563,017"
848,848,"THAI, Air Canada",Premium Economy,1:30 AM,9:50 AM,HYD,YVR,21 hr 50 min,['2 stops'],"3,502 kg CO2e","₹565,772"
849,849,"Malaysia Airlines, Air Canada",Premium Economy,12:30 AM,12:40 PM,HYD,YVR,25 hr 40 min,['2 stops'],"2,713 kg CO2e","₹765,682"